{% extends 'bootstrap/base.html' %}
{% block content %}

    <div class="container">
        <div class="jumbotron text-center">
            <h2>Natural Language Processing App</h2>
        </div>

    </div>

    <div class="container">
        <form action="{{url_for('analyse')}}" method="post" id="myform">

            <div class="form-group">
                <textarea name="rawtext" rows="3" class="form-control"></textarea>
            </div>
            <input type="submit" name="" value="Submit" class="btn btn-primary">
            <input type="reset" name="" value="Clear" class="btn btn-success">

            <a href="{{url_for('index')}}" type="button" class="btn btn-danger">Reset</a>

            <a href="{{url_for('predicts.index')}}" type="button" class="btn btn-link">Predicted Table</a>
        </form>
    </div>

    <br/>

    <div class="container">
        <div class="card">
            <div>
                <p>Analyzed Text:</p>
                <p><span style="color:blue;">{{ received_text }}</span></p>
            </div>


            <hr/>

            <div class="card-body">
                <p>Time Elapsed: <span style="color:red;">{{ final_time }} </span> seconds to analyse</p>
                <p>This text is about:</p>

                {% for i in summary %}
                <li>{{i}}
                    <a href="https://www.dictionary.com/browse/{{i}}?s=t" type="button"
                       target="_blank" class="btn btn-primary">
                        View
                    </a>
                </li>
                {% endfor %}
            </div>

            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Sentiment Score</th>
                        <th scope="col">Meaning</th>
                        <th scope="col">Sentiment</th>
                        <th scope="col">Polarity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Score:</th>
                        <th>{{ score }}</th>
                        <th>{{ meaning }}</th>
                        <th>{{ sentiment }}</th>
                        <th>{{ polarity }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}