{% extends 'bootstrap/base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Details of Dataset</h2>
                <br/>
                <div id="myTableDiv">
                    {{ df_table.to_html(classes="table table-striped table-dark",na_rep="-") | safe}}
                </div>
                <br/>
                <a href="{{url_for('index')}}" type="button" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>

{% endblock %}