{% extends 'bootstrap/base.html' %}
{% block content %}

<div class="container">
    <div class="jumbotron text-center">
        <h2>Sentiment Predict Detail</h2>
    </div>
</div>

<div class="center" style="margin-left:10px; margin-right:10px">
    <br/><br/>
    {% if predict %}
    <table id="predict-table" class="table table-striped table-dark" width="%100" cellspacing="0">
        <thead>
            <tr>
                <th>Text</th>
                <th>Normalized Text</th>
                <th>Sentiment Score</th>
                <th>Changed Score</th>
                <th>Elapsed Time</th>
                <th>Date</th>
                <th>Change To</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ predict.text }}</td>
                <td>{{ predict.normalized_text }}</td>
                <td>
                    {% if predict.score == 1 %}
                        <a href="#" class="btn btn-success" title="positive">Positive</a>
                    {% elif predict.score == 0 %}
                        <a href="#" class="btn btn-default" title="neutral">Neutral</a>
                    {% elif predict.score == -1 %}
                        <a href="#" class="btn btn-danger" title="negative">Negative</a>
                    {% endif %}
                </td>
                <td>
                    {% if predict.changed_score == 1 %}
                        <a href="#" class="btn btn-success" title="positive">Positive</a>
                    {% elif predict.changed_score == 0 %}
                        <a href="#" class="btn btn-default" title="neutral">Neutral</a>
                    {% elif predict.changed_score == -1 %}
                        <a href="#" class="btn btn-danger" title="negative">Negative</a>
                    {% else %}
                        {{ predict.changed_score }}
                    {% endif %}
                </td>
                <td>{{'%0.2f' % predict.time|float}}</td>
                <td>{{ predict.date.strftime('%d-%m-%Y %H:%M%:%S') }}</td>
                <td>
                    {% if predict.score != 1 %}
                        <a href="{{ url_for('predicts.edit_page', id=predict._id, score=1) }}"
                           class="btn btn-success" title="positive">Positive</a>
                    {% endif %}
                    {% if predict.score != 0 %}
                        <a href="{{ url_for('predicts.edit_page', id=predict._id, score=0) }}"
                           class="btn btn-default" title="neutral">Neutral</a>
                    {% endif %}
                    {% if predict.score != -1 %}
                        <a href="{{ url_for('predicts.edit_page', id=predict._id, score=-1) }}"
                           class="btn btn-danger" title="negative">Negative</a>
                    {% endif %}
                    {% if predict.changed_score != None %}
                        <a href="{{ url_for('predicts.edit_page', id=predict._id, score='None') }}"
                           class="btn btn-primary" title="none">None</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <div style="text-align: center">
        <h3> Eklenmiş kişi bulunmamaktadır. </h3>
    </div>
    {% endif %}
    <br/><br/>
    <a href="{{url_for('predicts.index')}}" type="button" class="btn btn-primary">Go Back</a>
</div>

{% endblock %}