{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

  <script src="{{ url_for('static', filename='js/predicts.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/predicts.css') }}">
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}">
  <!-- DataTables JS -->
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>

  <!-- DataTables Responsive -->
  <script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.dataTables.min.css') }}">
  <!-- DataTables Row Reorder -->
  <script src="{{ url_for('static', filename='js/dataTables.rowReorder.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rowReorder.dataTables.min.css') }}">

  <!-- Datatables export CSS libraries -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}">
  <!-- Datatables export JS libraries -->
  <script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>

{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
        <h2>Sentiment Predicted Results</h2>
    </div>
</div>

<div class="center" style="margin-left:10px; margin-right:10px">
    {% if predicts %}
    <table id="predict-table" class="table table-striped table-dark" width="%100" cellspacing="0">
        <thead>
            <tr>
                <th>Text</th>
                <th>Normalized Text</th>
                <th>Sentiment Score</th>
                <th>Changed Score</th>
                <th>Elapsed Time</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
        {% for predict in predicts %}
            <tr>
                <td>{{ predict.text }}</td>
                <td>{{ predict.normalized_text }}</td>
                <td>
                    {% if predict.score == 1 %}
                        <a href="#" class="btn btn-success" title="positive">Positive</a>
                    {% elif predict.score == 0 %}
                        <a href="#" class="btn btn-default" title="neutral">Neutral</a>
                    {% elif predict.score == -1 %}
                        <a href="#" class="btn btn-danger" title="negative">Negative</a>
                    {% endif %}
                </td>
                <td>
                    {% if predict.changed_score == 1 %}
                        <a href="#" class="btn btn-success" title="positive">Positive</a>
                    {% elif predict.changed_score == 0 %}
                        <a href="#" class="btn btn-default" title="neutral">Neutral</a>
                    {% elif predict.changed_score == -1 %}
                        <a href="#" class="btn btn-danger" title="negative">Negative</a>
                    {% else %}
                        {{ predict.changed_score }}
                    {% endif %}
                </td>
                <td>{{'%0.2f' % predict.time|float}}</td>
                <td>{{ predict.date.strftime('%d-%m-%Y %H:%M%:%S') }}</td>
                <td>
                    <a href="{{ url_for('predicts.detail_page', id=predict._id) }}"
                       class="btn btn-primary" title="Details">Show Detail</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div style="text-align: center">
        <h3> Eklenmiş sentiment analizi bulunmamaktadır. </h3>
    </div>
    {% endif %}
    <a href="{{url_for('index')}}" type="button" class="btn btn-primary">Go Back</a>
</div>

{% endblock %}